<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="FrameworkRevision.TestComponents.Listeners" />
	</listeners>
	
	<test parallel="classes" thread-count="3" name="DemoTest">

		<classes>
			<class name="FrameworkRevision.Tests.SubmitOrders" />
			<class name="FrameworkRevision.Tests.LoginTest" />
		</classes>
	</test>
</suite> 